In [2]:
import pandas as pd

In [3]:
raw_sales_df = pd.read_csv('./data/seoul/sales.csv', encoding='cp949')

In [4]:
sales_df = raw_sales_df.copy()

In [15]:
sales_df.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20231,A,골목상권,3110001,이북5도청사,CS100001,한식음식점,405545335,9975,231456447,...,3090,211,5754,3067,38,290,922,1463,2578,3531
1,20231,A,골목상권,3110001,이북5도청사,CS100008,분식전문점,117335358,10989,69547384,...,923,0,5672,4534,74,632,1369,2286,3454,2390
2,20231,A,골목상권,3110001,이북5도청사,CS100009,호프-간이주점,19577767,370,13115990,...,199,157,219,109,0,18,23,59,124,105
3,20231,A,골목상권,3110001,이북5도청사,CS200001,일반교습학원,47135947,136,47135947,...,72,0,96,40,0,0,8,120,8,0
4,20231,A,골목상권,3110002,독립문역 1번,CS100001,한식음식점,452192952,18282,364090632,...,4190,491,9732,7751,0,1027,2220,3501,4256,6477

In [5]:
# 1. 당월 매출 금액이 가장 큰 업종
#     1. 당월 매출 금액이 가장 큰 업종 n 개

In [6]:
# 2. 당월 매출 건수가 가장 큰 업종
#     1. 당월 매출 건수가 가장 큰 업종 n 개

In [7]:
# 3. 객단가가 높은 업종
#     1. 객단가가 높은 업종 n개
# 당월 매출 금액 / 당월 매출 건수

In [8]:
# 1. 남성 매출이 더 큰 업종
#     1. 여성 대비 남성 매출이 가장 큰 업종

In [9]:
# 1. 여성 매출이 더 큰 업종
#     1. 남성 대비 여성 매출이 가장 큰 업종

In [10]:
# 1. 10 ~ 30의 매출이 절반 이상을 차지하는 업종
# 2. 40 ~ 의 매출이 절반 이상을 차지하는 업종

In [11]:
# 1. 평일 매출이 더 큰 업종
#     1. 평일 매출이 5/7을 넘어가는 업종

In [12]:
# 1. 매출 금액이 증가 추세인 업종

In [13]:
# 2. 매출 건수가 증가 추세인 업종

In [14]:
# 3. 둘다 증가 추세인 업종